<header class="h-14 w-screen bg-black px-4 lg:h-24">
  <div class="mx-auto flex h-14 items-center justify-between px-4 lg:h-24">
    <%= link_to image_tag("logo_header.png", alt: "Black Market"), "/" %>
    <div class="hidden lg:block">
      <%= render(SearchBarComponent.new()) %>
    </div>
    <div>
      <%= render(DropdownComponent.new()) %>
    </div>
    <div>
      <%= render(ShoppingCartComponent.new()) %>
    </div>
  </div>
</header>
