<div class="text-white w-max text-center rounded-md pl-2 pr-2 pb-1 bg-black">
  <button id="cart-<%= @product.id %>" aria-describedby="cart button" title="<%= @product.title %>">
    Add to Cart
  </button>
</div>
