<div data-controller="signout" >
  <div id="dropdown-button" tabIndex="0" data-action="click->signout#toggleDropdown" class="w-40 text-base custom-focus rounded-md border-1 border-white bg-black text-white hover:bg-hover active:bg-hover active:outline-none active:ring-2 active:ring-offset-2 border border-gray-400 px-5 py-2 cursor-pointer flex justify-between">
    My Account
    <%= image_tag "arrow_down.svg", id: "arrowDown" %>
    <%= image_tag "arrow_up.svg", id: "arrowUp", class: "hidden" %>
  </div>
  <div id="dropdownMenu" class="hidden w-40 text-base absolute top-50 rounded-md border-white bg-black text-white">
    <div class="py-2 px-4 cursor-pointer hover:bg-gray-100 border-gray border-b-[1px] hover:bg-hover" >
      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
    </div>
  </div>
</div>
