<select name="myaccount" id="myaccount" data-controller="sign-out" class="custom-focus rounded-md border-1 border-white bg-black text-white hover:bg-hover active:bg-hover active:outline-none active:ring-2 active:ring-offset-2">
  <option hidden selected disabled>My Account</option>
  <option class="bg-black hover:bg-hover" data-action="click->sign-out#signOut">Log out</option>
</select>
