<div id="products-button">
  <%= button_to "Products", products_path, class: "custom-focus rounded-lg text-left w-full border-[1px] leading-8 text-[16px] border-white p-1 px-4 bg-black text-white hover:bg-hover active:bg-hover active:outline-none active:ring-2 active:ring-offset-2", method: :get %>
</div>
