<div class="relative" id="shoppingCart">
  <button class="custom-focus rounded-lg text-left w-44 border-[1px] leading-8 text-[16px] border-white p-1 px-4 bg-black text-white hover:bg-hover active:bg-hover active:outline-none active:ring-2 active:ring-offset-2">
    Shopping Cart
  </button>
  <div class="absolute inset-y-0 left-[8rem] pl-3 flex items-center pointer-events-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15" fill="none">
      <path fill="#fff" d="M6.654 13.227c0 .345-.122.643-.366.895a1.164 1.164 0 0 1-.865.378c-.333 0-.622-.126-.865-.378a1.244 1.244 0 0 1-.366-.895c0-.344.122-.643.366-.895.243-.252.532-.378.865-.378.333 0 .622.127.865.378.244.252.366.55.366.895Zm8.615 0c0 .345-.122.643-.365.895a1.164 1.164 0 0 1-.865.378c-.334 0-.622-.126-.866-.378a1.244 1.244 0 0 1-.365-.895c0-.344.122-.643.365-.895.244-.252.532-.378.866-.378.333 0 .621.127.865.378.243.252.365.55.365.895ZM16.5 2.41V7.5c0 .16-.053.3-.159.423a.602.602 0 0 1-.39.213L5.914 9.35c.084.398.125.63.125.697 0 .106-.076.318-.23.636h8.846c.166 0 .31.063.432.189a.622.622 0 0 1 .183.447c0 .173-.06.322-.183.448a.582.582 0 0 1-.432.188H4.808a.582.582 0 0 1-.433-.188.622.622 0 0 1-.183-.448c0-.073.026-.177.077-.313a3.86 3.86 0 0 1 .154-.358c.051-.103.12-.235.207-.398.086-.162.136-.26.149-.293L3.077 1.773H1.115a.582.582 0 0 1-.432-.19.622.622 0 0 1-.183-.447C.5.964.56.815.683.69A.582.582 0 0 1 1.115.5h2.462a.57.57 0 0 1 .461.219.98.98 0 0 1 .125.243c.039.103.065.19.077.259a53.678 53.678 0 0 1 .097.552h11.548c.166 0 .31.063.432.189a.622.622 0 0 1 .183.447Z"/>
    </svg>
  </div>
</div>
