<div class="flex gap-2 pr-12">
  <span class="sr-only">Social Media</span>
  <%= image_tag "twitter.svg", class: "", id: "twitter" %>
  <%= image_tag "facebook.svg", class: "", id: "facebook" %>
  <%= image_tag "linkedin.svg", class: "", id: "linkedin" %>
  <%= image_tag "instagram.svg", class: "", id: "instagram" %>
</div>
