<div class="flex flex-col text-black mt-2 w-screen items-center justify-center gap-4">
  <%= image_tag 'empty_states.svg' %>
  <div class="font-bold">
    No results found
  </div>
  <%= link_to 'Back to products', '#', class: "text-white text-base text-center rounded-md p-2 bg-black h-10" %>
</div>
