<div class="pt-4 mb-4">
  <div class="flex items-center">
    <input id="use-shipping-address" type="checkbox" name="use-shipping-address" checked class="w-5 h-5 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500 focus:ring-2" />
    <label for="use-shipping-address" class="ml-2 text-sm font-medium text-gray-700">Use my shipping address as my billing address</label>
  </div>
</div>
