<div class="text-left pb-8">
  <h2 class="text-sm font-bold lg:text-xl">Please add your shipping address</h2>
</div>
<div class="grid grid-cols-1 gap-4">
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
    <div>
      <label for="city" class="block text-sm font-medium text-gray-700">City*</label>
      <input type="text" id="city" placeholder="City name" class="w-full px-3 py-2 rounded-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-gray-100" required>
    </div>
    <div>
      <label for="country" class="block text-sm font-medium text-gray-700">Country*</label>
      <input type="text" id="country" placeholder="Country" class="w-full px-3 py-2 rounded-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-gray-100" required>
    </div>
    <div>
      <label for="postalcode" class="block text-sm font-medium text-gray-700">Postal code*</label>
      <input type="text" id="postalcode" placeholder="Postal Code" class="w-full px-3 py-2 rounded-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-gray-100" required>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
    <div>
      <label for="address1" class="block text-sm font-medium text-gray-700">Address line 1 *</label>
      <input type="text" id="address1" placeholder="Address line 1" class="w-full px-3 py-2 rounded-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-gray-100" required>
    </div>
    <div>
      <label for="address2" class="block text-sm font-medium text-gray-700">Address line 2</label>
      <input type="text" id="address2" placeholder="Address line 2" class="w-full px-3 py-2 rounded-lg focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-gray-100">
    </div>
  </div>
</div>
