@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    background-color: black;
    color: white;
    font-size: 1.5em;
}

.custom-focus {
    @apply focus-within:rounded focus-within:outline-dashed focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-focus;
}

/* Links with states */

.link-hover {
    @apply hover:text-links hover:underline;
}

.link-focus {
    @apply custom-focus font-bold text-focus;
}

.link-active {
    @apply active:font-bold active:text-active;
}


.turbo-progress-bar {
    visibility: hidden;
}
